

/* ----------------------------------------------------- */
                    /* square */

@font-face
{
    font-family: 'square';
    src: url('../fonts/SquareGame.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------------- */
                    /* Dyslexic */

@font-face
{
    font-family: 'Dyslexic';
    src: url('../fonts/OpenDyslexic-Bold.otf') format('opentype');
        font-weight: bold;
        font-style: normal;
}

@font-face
{
    font-family: 'Dyslexic';
    src: url('../fonts/OpenDyslexic-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face
{
    font-family: 'Dyslexic';
    src: url('../fonts/OpenDyslexic-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face
{
    font-family: 'Dyslexic';
    src: url('../fonts/OpenDyslexic-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'DyslexicAlta';
    src: url('../fonts/OpenDyslexicAlta-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'DyslexicAlta';
    src: url('../fonts/OpenDyslexicAlta-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'DyslexicAlta';
    src: url('../fonts/OpenDyslexicAlta-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face
{
    font-family: 'DyslexicAlta';
    src: url('./fonts/OpenDyslexicAlta-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face
{
    font-family: 'DyslexicMono';
    src: url('../fonts/OpenDyslexicMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------------- */
                    /* Graphica */

@font-face
{
    font-family: 'Graphica';
    src: url('../fonts/TypoGraphica_demo.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------------- */
                    /* batman */

@font-face
{
    font-family: 'batman';
    src: url('../fonts/batmfa__.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------------- */
                    /* Changa */

@font-face
{
    font-family: 'Changa';
    src: url('../fonts/Changa/static/Changa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Changa';
    src: url('../fonts/Changa/static/Changa-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face
{
    font-family: 'Changa';
    src: url('../fonts/Changa/static/Changa-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face
{
    font-family: 'Changa';
    src: url('../fonts/Changa/static/Changa-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: 'Changa';
    src: url('../fonts/Changa/static/Changa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Changa';
    src: url('../fonts/Changa/static/Changa-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face
{
    font-family: 'Changa';
    src: url('../fonts/Changa/Changa-VariableFont_eght.ttf') format('truetype');
    font-weight: inherit;
    font-style: normal;
}


/* ----------------------------------------------------- */
                    /* Exo */

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bolder;
    font-style: italic;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-ExtraLightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-LightItalic.ttf') format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-Medium.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-MediumItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-SemiBoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face
{
    font-family: 'Exo';
    src: url('../fonts/Exo/static/Exo-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* ----------------------------------------------------- */
                    /* Honk */
@font-face
{
    font-family: 'Honk';
    src: url('../fonts/Honk/static/Honk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------------- */
                    /* Orbitron */
@font-face
{
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/static/Orbitron-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face
{
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/static/Orbitron-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face
{
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/static/Orbitron-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face
{
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/static/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/static/Orbitron-SemiBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}