/* @import "fonts.css"; */
@import url("../CSS/fonts.css");


/* -------------------Whole Page---------------------- */
/* html
{
    background-color: red;
    background-image: linear-gradient(to bottom right, red, yellow);
} */

/* -------------------Header---------------------- */
div.header-container
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    /* background-image: url('~/CS260/startup/photos/landscape_of_games_horizontal.jpg');
    background-size: cover;
    background-position: center; */
}

header img 
{
    width: 300px;
    height: auto;
}

header h1
{
    font-family: "Changa";
    font-weight: 500;
    letter-spacing: 8px;
    text-shadow: 5px 5px 0px rgba(63,107,169, 0.5);
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    font-size: 8rem;
    line-height: 1;
}

header form
{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}
/* -------------------menu----------------------- */
.top-menu 
{
    font-family: "Dyslexic";
    width: 100%;
    background-color: #e54f03;
    overflow: auto;
    border-top:10px ridge #007a87;
    border-bottom:10px ridge #007a87;
    
}
  
  /* Navbar links */
  
.top-menu a 
{
    float: left;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
   
}
  
  /* Navbar links on mouse-over */
.top-menu a:hover 
{
    background-color: #007a87;
}
  
  /* Current/active navbar link */
/* #active-page 
{
    background-color: #007a87;
} */

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) 
{
    menu a 
    {
      float: none;
      display: block;
    }
}

/* -------------------Search Bars-------------------- */
header form input
{
    height: 35px;
    width: 300px;
    text-align: center;
    font-family: Changa;
    font-size: 1.5rem;
    border-radius:10px;
    border: 3px solid #b23a00;
}

/* -------------------Game List---------------------- */
h2.game-title
{
    font-family: "Dyslexic";
    font-weight: bold;
    font-size: 2rem;
    line-height: .5;
    text-align: center;
    color:black;
    /* background-color: rgb(182, 209, 209); */
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgb(172, 179, 189);
}

div div.game-database
{
    display: flex;
    justify-content: center;
    align-items: center;
}
p.game
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game 
{
    position: relative;
    display: inline-block; /* Makes the container fit the size of the image */
    margin: 30px;
    background-color: #fec82b;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(172, 179, 189);
}
 
div.game-display 
{
    position: relative; /* Establishes a positioning context */
    display: inline-block; /* Adjusts the container size to fit the image */
}

img.game-img 
{
    /* display: block; Ensures there's no extra space under the image */
    width: 300px; /* Optional: makes the image fit the container's width */
    height: 300px; /* Maintains the aspect ratio of the image */
    object-fit: cover;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.list-button 
{
    position: absolute;
    font-size: 3rem;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* top: 0%; Centers the button vertically */
    bottom: 78.5%;
    left: 78%; /* Centers the button horizontally */
    height: 50px;
    width: 50px;
    background-color: #01a8ba; /* Example background color */
    opacity: .9;
    color: #fff; /* Example text color */
    border: none;
    cursor: pointer;
}

.list-button:hover
{
    background-color: rgb(50, 25, 25);

}

/* --------------------Footer-------------------- */

footer
{
    background-color: #b23a00;
}

footer a
{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    text-decoration: none;
    font-family: Changa;
    font-weight: semi-bold;
    transform: scaleX(1.25);
    color: white;
}




  