
@import url("../CSS/startup_fonts.css");


/* -------------------Header---------------------- */
/* div div.header-container
{
    background-image: url('../photos/landscape_of_games_horizontal.jpg');
} */



/* ---container for title and logo--- */
div.header-container
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
}

/* ---logo--- */
div.header-container img 
{
    width: 23%;
    height: auto;
}

/* ---title--- */
div.header-container h1
{
    font-family: "Changa";
    font-weight: 500;
    letter-spacing: 8px;
    text-shadow: 5px 5px 0px rgba(63,107,169, 0.5);
    padding-left:4vw;
    font-size: 8.6vw;
    line-height: 1;
}


/* -------------------menu----------------------- */
.top-menu 
{
    font-family: "Dyslexic";
    width: 100%;
    background-color: #e54f03;
    overflow: auto;
    border-top:10px ridge #007a87;
    border-bottom:10px ridge #007a87;
    margin-top: 0;
}
  
/* ---Navbar links--- */
  
.top-menu a 
{
    float: none;
    line-height: 3;
    text-align: center;
    justify-content: center;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
}
  
.top-menu a:hover 
{
    background-color: #007a87;
}
  
/* @media screen and (max-width: 840px) 
{
    menu a 
    {
      float: none;
      display: block;
    }
} */

/* -------------------Search Bars-------------------- */
header form input
{
    height: 5vh;
    width: 50vh;
    text-align: center;
    font-family: Changa;
    font-size: 3.5vh;
    border-radius:10px;
    border: 3px solid #b23a00;
}

header form
{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 840px) 
{
    header form 
    {
      float: none;
      display: block;
    }
}

/* -------------------Game List---------------------- */
h2.game-title
{
    font-family: "Dyslexic";
    font-weight: bold;
    font-size: 2rem;
    line-height: .5;
    text-align: center;
    color:black;
    border-radius: 10px;
    text-shadow: 1.5px 1px 2px rgb(144, 150, 157);
}

/* ---alignment of grig--- */
div div.game-database
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---individual game container--- */
.game 
{
    position: relative;
    display: inline-block; 
    margin: 30px;
    background-color: #fec82b;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgb(172, 179, 189);
}
 
/* ---add to list button--- */
div.game-display 
{
    position: relative; 
    display: inline-block; 
}

.list-button 
{
    position: absolute;
    font-size: 3rem;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    bottom: 78.5%;
    left: 78%; 
    height: 50px;
    width: 50px;
    background-color: #01a8ba; 
    opacity: .9;
    color: #fff; 
    border: none;
    cursor: pointer;
}

.list-button:hover
{
    background-color: #007a87;

}

/* ---game images--- */
img.game-img 
{
    width: 300px; 
    height: 300px; 
    object-fit: cover;
    padding: 10px;
    border-radius: 10%;
    margin-bottom: 5%;
}

/* --------------------Footer-------------------- */

footer
{
    background-color: #b23a00;
}

/* ---github link--- */
footer a
{
    display: flex;
    justify-content: center;
    font-size: 1.7vw;
    text-decoration: none;
    font-family: Changa;
    font-weight: semi-bold;
    transform: scaleX(1.25);
    color: white;
    margin-bottom: 0;
}




  