@import url("../CSS/startup_fonts.css");

@media screen and (max-width: 840px) 
{

/* body
{
    background-image: url('../photos/2.png');
} */

div div.header-container
{
    background-image: url('../photos/landscape_of_games_horizontal.jpg');
    background-size: cover;
}

div.header-container img 
{
    display: none;
}

div.header-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

div.header-container h1
{
    font-family: "Changa";
    font-weight: 500;
    letter-spacing: 1vw;
    text-shadow: -.2vw .2vw 3px rgb(0, 0, 0);
    padding-left:4vw;
    font-size: 12vw;
    line-height: 1;
    color: #ffffff
}

.top-menu 
{
    border-top:5px ridge #007a87;
    border-bottom:5px ridge #007a87;
}

nav menu a 
{
    display: flex;
    text-align: center;
    justify-content: left;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

div div.game-database
{
    display: inline;
}

h2.game-title
{
    font-size: 1.8rem;
    line-height: .5;
    color:black;
    text-shadow: 1.5px 1px 2px rgb(144, 150, 157);
}

.game 
{   
    border-radius: 10px;
}

/* ---game images--- */
img.game-img 
{
    width: 250px; 
    height: 250px; 
    padding: 5px;
    border-radius: 10%;
    margin-bottom: 5%;
}

.list-button 
{
    font-size: 2.1rem;
    border-radius: 10px;
    bottom: 78.5%;
    left: 78%; 
    height: 40px;
    width: 40px;
    background-color: #fff; 
    opacity: .9;
    color: #01636e;
    border: none;
    cursor: pointer;
}

.list-button:hover
{
    background-color: #007a87;
    color: #fff; 
}

header form input
{
    height: 2.5vh;
    width: 30vh;
    text-align: center;
    font-family: Changa;
    font-size: 2.5vh;
    border-radius:6px;
    border: .4vh solid #b23a00;
}

header form
{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
} 

footer
{
    background-color: #b23a00;
}

/* ---github link--- */
footer a
{
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
    font-family: Changa;
    transform: scaleX(1.5);
    color: white;
    margin-bottom: 0;
}



}

@media screen and (max-width: 840px) 
{
    header form 
    {
      float: none;
      display: block;
    }
}