/* @import "fonts.css"; */
@import url("../CSS/fonts.css");


/* -------------------Whole Page---------------------- */
html
{
    background-color: red;
    background-image: linear-gradient(to bottom right, red, yellow);
}

/* -------------------Header---------------------- */
.header-container
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}

header img 
{
    width: 300px;
    height: auto;
}

header h1
{
    font-family: "Changa";
    font-weight: 500;
    letter-spacing: 8px;
    text-shadow: 5px 5px 0px rgba(63,107,169, 0.5);
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    font-size: 8rem;
}

header form
{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}
/* -------------------menu----------------------- */
.top-menu 
{
    width: 100%;
    background-color: #555;
    overflow: auto;
}
  
  /* Navbar links */
.top-menu a 
{
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
  
  /* Navbar links on mouse-over */
.top-menu a:hover 
{
    background-color: #000;
}
  
  /* Current/active navbar link */
.active-page
{
    background-color: #04AA6D;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) 
{
    .top-menu a 
    {
      float: none;
      display: block;
    }
}

/* -------------------Game List---------------------- */
p.game
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game 
{
    position: relative;
    display: inline-block; /* Makes the container fit the size of the image */
    margin: 30px;
    background-color: blue;
    padding: 10px 30px;
    border-radius: 10px;
}

h2.game-title
{
    font-family: "Dyslexic";
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    background-color: aqua;
    border-radius: 10px;
}
  
img.game-img 
{
    display: block; /* Ensures there's no extra space under the image */
    width: 300px; /* Optional: makes the image fit the container's width */
    height: auto; /* Maintains the aspect ratio of the image */
}

.list-button 
{
    position: absolute;
    font-size: 2rem;
    text-align: center;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* top: 0%; Centers the button vertically */
    bottom: 60%;
    left: 75%; /* Centers the button horizontally */
    height: 50px;
    width: 50px;
    background-color: rgb(124, 116, 116); /* Example background color */
    opacity: .9;
    color: #fff; /* Example text color */
    border: none;
    cursor: pointer;
}

.list-button:hover
{
    background-color: rgb(50, 25, 25);

}


  