@import url("../CSS/startup_fonts.css");

div.header-container
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

header img 
{
    width: 23%;
    height: auto;
}

header h1
{
    font-family: "Changa";
    font-weight: 500;
    letter-spacing: 1vw;
    text-shadow: .25vw .25vw 0px rgba(63,107,169, 0.5);
    padding-left:4vw;
    font-size: 8.6vw;
    line-height: 1;
}

header form
{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 50px;
}

/* -------------------menu----------------------- */
.top-menu 
{
    font-family: "Dyslexic";
    background-color: #e54f03;
    border-top:10px ridge #007a87;
    border-bottom:10px ridge #007a87;
    margin-top: 0;
}
  
nav menu a
{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
}

.top-menu a:hover 
{
    background-color: #007a87;
}
  
@media screen and (max-width: 500px) 
{
    menu a 
    {
      float: none;
      display: block;
    }
}


header form input
{
    height: 50px;
    width: 325px;
    text-align: center;
    font-family: "Changa";
    font-size: 1.7rem;
    border-radius:10px;
    border: 3px solid #b23a00;
}

header form input[type=button]
{
    background-color: #007a87;
    border: none;
    color: white;
    font-family: Changa;
    font-size: 1.5rem;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    height: 50px;
    width: 250px;
    text-align: center;
    vertical-align: middle;
}

  footer
{
    background-color: #b23a00;
}

footer a
{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    text-decoration: none;
    font-family: Changa;
    font-weight: semi-bold;
    transform: scaleX(1.25);
    color: white;
}