@import url("../CSS/startup_fonts.css");


/* -------------------Header---------------------- */
div.header-container
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

header img 
{
    width: 23%;
    height: auto;
}

header h1
{
    font-family: "Changa";
    font-weight: 500;
    letter-spacing: 1vw;
    text-shadow: .25vw .25vw 0px rgba(63,107,169, 0.5);
    padding-left:4vw;
    font-size: 8.6vw;
    line-height: 1;
}

header form
{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
}
/* -------------------menu----------------------- */

.top-menu 
{
    font-family: "Dyslexic";
    background-color: #e54f03;
    border-top:10px ridge #007a87;
    border-bottom:10px ridge #007a87;
    margin-top: 0;
    list-style: none;
}
  
/* ----Navbar links---- */
  
nav menu a , nav menu input
{
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-size: 1.2vw;
}

/* ----Search Bars---- */
nav menu input
{
    height: 1vh;
    width: 10vw;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    font-family: "Changa";
    font-size: 1.2vw;
    color: black;
}
 
.top-menu a:hover 
{
    background-color: #007a87;
}
  
@media screen and (max-width: 500px) 
{
    menu a 
    {
      float: none;
      display: block;
    }
}

/* -------------------username title-------------------- */
div h2.username
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 7px #c7cfd0;
    font-family: "Changa";
    font-size: 3rem;
    text-align: center; 
    line-height: .5;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    font-weight: normal;
    height: relative;
}

/* -------------------Game List---------------------- */

h1.my-list-title
{

    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 7px #c7cfd0;
    font-family: "Changa";
    font-size: 2.5rem;
    text-align: center; 
    line-height: 1;
    padding: 20px;
    border-radius: 10px;
    font-weight: normal;
    height: relative; 
    margin-bottom: 5px;
}

div div.my-list
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.game 
{
    position: relative;
    display: inline-block; 
    margin: 2%;
    background-color: #fec82b;
    padding: .5% 1.5%;
    border-radius: 3%;
    box-shadow: 3px 3px 3px rgb(172, 179, 189);
}

h2.game-title
{
    font-family: "Dyslexic";
    font-weight: bold;
    font-size: 2rem;
    line-height: .5;
    text-align: center;
    color:black;
    text-shadow: 1.5px 1px 2px rgb(144, 150, 157);
}
  
img.game-img 
{
    /* display: block; Ensures there's no extra space under the image */
    width: 300px; /* Optional: makes the image fit the container's width */
    height: 300px; /* Maintains the aspect ratio of the image */
    object-fit: cover;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}



.list-button 
{
    position: absolute;
    font-size: 3rem;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    bottom: 78.5%;
    left: 78%; 
    height: 50px;
    width: 50px;
    background-color: #01a8ba; 
    opacity: .9;
    color: #fff; 
    border: none;
    cursor: pointer;
}

div button.list-button:hover
{
    background-color: #007a87;

}

/* --------------------Footer-------------------- */

footer
{
    background-color: #b23a00;
}

footer a
{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    text-decoration: none;
    font-family: Changa;
    font-weight: semi-bold;
    transform: scaleX(1.25);
    color: white;
}




  