@import url("../CSS/startup_fonts.css");

@media screen and (max-width: 840px) 
{
div div.header-container
{
    background-image: url('../photos/landscape_of_games_horizontal.jpg');
    background-size: cover;
}

div.header-container img 
{
    display: none;
}

div.header-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

div.header-container h1
{
    font-family: "Changa";
    font-weight: 500;
    letter-spacing: 1vw;
    text-shadow: -.2vw .2vw 3px rgb(0, 0, 0);
    padding-left:4vw;
    font-size: 12vw;
    line-height: 1;
    color: #ffffff
}

.top-menu 
{
    border-top:5px ridge #007a87;
    border-bottom:5px ridge #007a87;
}

nav menu a 
{
    display: flex;
    text-align: center;
    justify-content: left;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-size: 2vw;
}

div div.game-database
{
    display: inline;
}

header form input
{
    height: 2.5vh;
    width: 30vh;
    text-align: center;
    font-family: Changa;
    font-size: 2.5vh;
    border-radius:6px;
    border: .4vh solid #b23a00;
}

header form
{
    flex-grow: 1;
    text-align: center;
    justify-content: center;
} 

footer
{
    background-color: #b23a00;
}

/* ---github link--- */
footer a
{
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;
    font-family: Changa;
    transform: scaleX(1.5);
    color: white;
    margin-bottom: 0;
}



}